@import "tailwindcss";
@import "uniwind";

@layer theme {
	:root {
		@variant dark {
			--color-background: #0f0f00;
			--color-foreground: #fdfab4;

			--color-primary: #ccff00;
			--color-primary-foreground: #000000;

			--color-secondary: #00e3fd;
			--color-secondary-foreground: #000000;

			--color-muted: #151400;
			--color-muted-foreground: #b0ae70;

			--color-accent: #212100;
			--color-accent-foreground: #fdfab4;

			--color-destructive: #b92902;
			--color-destructive-foreground: #ffffff;

			--color-border: #4b4a16;
			--color-input: #282800;
			--color-ring: #00e3fd;
		}

		@variant light {
			--color-background: #fdfcf7;
			--color-foreground: #1c1c00;

			--color-primary: #5b6e00;
			--color-primary-foreground: #ffffff;

			--color-secondary: #006878;
			--color-secondary-foreground: #ffffff;

			--color-muted: #f5f4ea;
			--color-muted-foreground: #4b4a16;

			--color-accent: #e9e8db;
			--color-accent-foreground: #1c1c00;

			--color-destructive: #ba1a1a;
			--color-destructive-foreground: #ffffff;

			--color-border: #d0ceb5;
			--color-input: #deddcc;
			--color-ring: #006878;
		}
	}
}

@utility text-sm-scaled {
	font-size: fontScale(0.9);
}

@utility text-base-scaled {
	font-size: fontScale();
}

@utility h-hairline {
	height: hairlineWidth();
}

@utility w-hairline {
	width: calc(hairlineWidth() * 10); /* 10 * device hairline width */
}

@utility w-icon {
	width: pixelRatio();
}

@utility w-avatar {
	width: pixelRatio(2);
}

@utility bg-adaptive {
	background-color: light-dark(#ffffff, #1f2937);
}

@utility text-adaptive {
	color: light-dark(#111827, #f9fafb);
}

@utility border-adaptive {
	border-color: light-dark(#e5e7eb, #374151);
}
